<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>

  </script>
  <title>Maius-HackerNews</title>
</head>
<body>
    <%- include('layout/layout.ejs') %>
    <div class="news-view view v-transition">
        <ul class="news-list wrapper">
            <% for (var i = 0; i < list.length; i++) {%>
              <li class="news-list-item">
              <%- include('item.ejs', {index: (page-1) * pageSize + i + 1, item: list[i]}) %>
            </li>
            <%}%>

        </ul>
        <div class="nav">
          <% if (page > 1) {%>
            <a href="/news?page=<%=page-1%>">prev</a>
          <%}%>
          <%if(list.length >= pageSize) {%>
            <a href="/news?page=<%=page+1%>">more...</a>
          <%}%>
        </div>
    </div>

</body>
</html>